<ion-header>
  <ion-toolbar>
    <ion-title>mant-tipo-articulo-segmento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Tipo Articulo</ion-label>
    <ion-select ngModel="segmentoArticulo.idTipoArticulo"  value="item.idTipoArticulo" okText="Okay" cancelText="Dismiss">
      <ion-select-option *ngFor="let item  of lstTipoArticulos" value="{{item.idTipoArticulo}}">{{item.descripcion}}</ion-select-option>
    </ion-select>
  </ion-item>
  ***{{segmentoArticulo |json}}
</ion-content>

