<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Segmetos de articulo</ion-title>
        <ion-button ion-button color="primary"
                    slot="start"
                    *ngIf="!segmentoArticulo"
                    (click)="crearNuevo()">NUEVO
        </ion-button>
        <ion-button ion-button color="primary" slot="start"
                    *ngIf="segmentoArticulo"
                    (click)="segmentoArticulo=null">CANCELAR
        </ion-button>
        <ion-button ion-button color="primary"
                    slot="end"
                    *ngIf="segmentoArticulo"
                    (click)="registrarNuevo(segmentoArticulo)">GUARDAR
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="segmentoArticulo">
        <ion-item>
            <ion-label>Tipo Articulo</ion-label>
            <ion-select [(ngModel)]="segmentoArticulo.idTipoArticulo"
                        okText="Okay" cancelText="Dismiss">
                <ion-select-option *ngFor="let item  of lstTipoArticulos"
                                   value="{{item.idTipoArticulo}}">{{item.descripcion|uppercase}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-input class="ion-text-uppercase" [(ngModel)]="segmentoArticulo.descripcion"></ion-input>
        </ion-item>
    </ion-list>
    {{segmentoArticulo|json}}
</ion-content>

