<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signin"></ion-back-button>
    </ion-buttons>
    <div class="ion-text-end">
      <ion-button ion-button color="primary" (click)="registrar(objLicor)">GUARDAR</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-item >
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input [(ngModel)]="objLicor.descripcion"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Costo</ion-label>
      <ion-input type="number"[(ngModel)]="objLicor.costo"></ion-input>
    </ion-item>

    <ion-item *ngIf="imagenPreview">
      <img [src]="imagenPreview">
    </ion-item>

  </ion-list>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="seleccionarImagen()">
          <ion-icon slot="start" name="photos"></ion-icon>
          Seleccionar</ion-button>
      </ion-col>
      <ion-col>

        <ion-button expand="block" (click)="capturarImagen()">
          <ion-icon slot="start" name="camera"></ion-icon>
          Capturar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
